@{
    ViewBag.Title = "Vue Page";
}

<!DOCTYPE html>
<html>
<head></head>
<body>
<script>

	 console.log("Hello, Vue! 🎉")

 //this is a single-line comment

/*
  this is a multiline comment
*/

 //this is a multiple single-line comments
 //this is a multiple single-line comments
 //this is a multiple single-line comments

	"use strict";

	var bin = true;
	var str = "hello, world!";
	var num = 3.14;

 console.log(bin)
	console.log(str);
 console.log(num)

 var arr = [
 	"hello, world!",
 	"hello, darkness..."
 ]

 console.log(arr)
 console.log(arr[0])
 console.log(arr[1])

 var obj1 = {
 	key1: "val1", // or "key1"
 	key2: "val2"
 }

 console.log(obj1)
 console.log(obj1.key1)
 console.log(obj1.key2)
 console.log(obj1["key1"])
 console.log(obj1["key2"])

 var obj2 = {
 	obj3: {
 		key1: "val1",
 		key2: "val2"
 	},
 }

 console.log(obj2)
 console.log(obj2.obj3)
 console.log(obj2.obj3.key1)
 console.log(obj2.obj3.key2)
 console.log(obj2.obj3["key1"])
 console.log(obj2.obj3["key2"])

 if (false) {
 	console.log("if")
 } else if (false) {
 	console.log("else if")
 } else {
 	console.log("else")
 }

 true ? console.log(true) : console.log(false)

 for (var x = 0; x < 3; x++) {
 	console.log(x)
 }

 for (var msg of ["how", "are", "you"]) {
 	console.log(msg)
 }

 function fun(arg) {
 	if (!arg) {
 		arg = "world"
 	}
 	return "hello, " + arg + "!"
 }

 console.log(fun)
 console.log(fun())
 console.log(fun("js"))

</script>
</body>
</html>